@import "../root.scss";

.container {
  width: 271px;
  height: clamp(400px, calc(80vh - 2.5 * $height_title_footer), 800px);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: calc(30% - 135.5px);
  margin-right: calc(30% - 135.5px);
  margin-top: calc(275px - 239px);

  p {
    padding: 15px;
    color: white;
    height: 30px;
    width: 30px;
    @include flex-center;
    border-radius: 3px;
    cursor: pointer;
  }

  p:first-of-type {
    font-family: $myFont;
    width: 103px;
    cursor: auto;
    font-size: 14px;
  }
}

@media screen and (max-height: 880px) {
  .container {
    width: 211px;
    margin-left: calc(30% - 105.5px);
    margin-right: calc(30% - 105.5px);
    p {
      height: 15px;
      width: 15px;
    }
    p:first-of-type {
      width: 73px;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 1170px) {
  .container {
    width: 211px;
    margin-left: calc(30% - 105.5px);
    margin-right: calc(30% - 105.5px);
    p {
      height: 15px;
      width: 15px;
    }
    p:first-of-type {
      width: 73px;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 146px;
    gap: 2px;
    margin-left: calc(30% - 73px);
    margin-right: calc(30% - 73px);
    p {
      padding: 8px;
    }
    p:first-of-type {
      width: 52px;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    margin-right: 50px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin-left: 10px;
    margin-right: 70px;
    min-width: 146px;
  }
}
